Source: ros-indigo-webargs
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-bottle, python-falcon, python-mock, python-pyramid, python-pytest, python-webtest, ros-indigo-catkin (>= 0.6.18), ros-indigo-catkin-pip (>= 0.1.15), ros-indigo-marshmallow (>= 2.0.0)
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-webargs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-marshmallow (>= 2.0.0)
Description: A friendly library for parsing HTTP request arguments, with built-in support for popular web frameworks, including Flask, Django, Bottle, Tornado, Pyramid, webapp2, Falcon, and aiohttp.
